* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 10px; /* !!! base em font size */
}

/* bottom padding body tag equal the height of your footer */
body {
  margin: 0 0 16.5em; /* bottom = footer height */
  /*font-size: 10px;  !!! base em font size */
}

.container {
  margin: 0 auto;
  max-width: 114em; /* em not functioning?? */

}

/* The first element after header needs a padding top equal to the height of your header. In this example it's a <section> tag. You may need to update the tag here to reflect your own code */
section:first-of-type {
  padding-top: 3em;
}

/* Tell the header and footer to stay put. If you have any absolutely or other fixed elements on your site, a z-index may be needed! */
.header, .footer {
  position: fixed;
  width: 100%;
}

/* Tell the footer to always stay at the bottom */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 16.5em;
  width: 100%;
}

.footer, .header {
    background-color: #58595B;
}

.footer p {
    color: #FFF;
    font: 1.2em "brandon-grotesque", sans-serif;
    margin-top: 1em;
    margin-right: 2em;
}

em {
  font-weight: bold;
  font-style: normal;
}

.footer .container {
  height: 16.5em;
  background: url(../img/TNL_logoClique_bgfooter.png) top right no-repeat;
  text-align: right;
}

.logo {
  float: left;
  margin-top: 0.7em;
  margin-left: 2em;
}

.searchperson {
  float: right;
  margin-top: 0.5em;
}

.search {
  padding: 0.2em 0 0 0.2em;
  margin: 0 0.2em 0.3em 0;
  height: 1.6em;
  border: 0;
  background-color: #58595B;
  border-bottom: 1px solid #FFF;
}

#submit {
  background-color: #58595B;
  border: 0;
  width: 3em;
  height: 3em;
}

#submit svg path{
  fill: #FFF;
}

#submit:hover svg path{
  fill: #BCBEC0;
}

input {
  font: 1.4em "brandon-grotesque", sans-serif;
}

text {
    font-size: 1.2em ;
    font-family: "brandon-grotesque";
    font-weight: bold;
    color: #58595B;
}

.axis text {
    font: 0.8em "brandon-grotesque";
    fill: #58595B;
}

.axis path {
  stroke-width: 0;
  stroke: #000;
 }

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
  stroke-width: 1px;
}

.legendtitle {
  font: 1.6em "brandon-grotesque";
  font-weight: bold;
  fill: #58595B;
}

.titlegraph {
  font: 2em "brandon-grotesque";
  font-weight: normal;
  text-transform: lowercase;
  fill: #000;
}

.titlename {
  font: 2em "brandon-grotesque";
  font-weight: 900;
  text-transform: uppercase;
  fill: #58595B;
}

.legendexplain {
  font: 1.2em "brandon-grotesque";
  fill: #58595B;
}

.legenditem text {
  font: 1.2em "brandon-grotesque";
  font-weight: normal;
  fill: #58595B;
}

p.bgtexttime {
  width: 20em;
  font: 1em "brandon-grotesque";
  background-color: #FFF;
  padding: 0.5em;
  border: solid 1px;
}

.tooltip {
  position: absolute;
  width: 20em;
  height: 2.8em;
  pointer-events: none;
}

[class^="dottxt"] {
    font: 0.9em "brandon-grotesque";
    fill: #FFF;
  }

.brush .extent {
  stroke: #FE9;
  fill-opacity: .125;
  shape-rendering: crispEdges;
  fill: #FE9;
}
.grid .minor.tick line {
  stroke-opacity: .5;
}

#progressbar {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.node .nodetext {
  fill: #130C0E;
}


/*circle[id^=dot-]:hover {
  stroke: #000;
  stroke-width: 1;
}*/
